# 상위 디렉토리의 파일 무시
../../.CFUserTextEncoding
../../.DS_Store
../../.IdentityService/
../../.android/
../../.bash_git
../../.bash_history
../../.bash_profile
../../.bash_profile.swo
../../.bash_sessions/
../../.conda/
../../.condarc
../../.config/
../../.continuum/
../../.designer/
../../.dotnet/
../../.emulator_console_auth_token
../../.git-bash-for-mac.sh
../../.git-completion.bash
../../.git-prompt.sh
../../.gitconfig
../../.gradle/
../../.lesshst
../../.local/
../../.m2/
../../.matplotlib/
../../.mono/
../../.mysql_history
../../.npm/
../../.nuget/
../../.python_history
../../.rediscli_history
../../.ssh/
../../.swiftpm/
../../.tcshrc
../../.templateengine/
../../.viminfo
../../.vscode/
../../.xonshrc
"../../.zcompdump-이름의 MacBook Air-5.8"
../../.zprofile
../../.zsh_history
../../.zsh_sessions/
../../.zshrc
../../.zshrc.omz-uninstalled-2023-09-18_19-50-59
../../.zshrc.save
"../../02-01-이름.docx"
../../AndroidStudioProjects/
../../Applications/
../.DS_Store
../.localized
../.vscode/
"../10.socket1 파일.pdf"
../2.pdf
../3-1/
../3-2/
../3.pdf
../4.pdf
../5.pdf
../Applications
../buddy/
./
"../~$이름.docx"
"../~$이름의 문서.docx"
"../~$이름.docx"
"../이름의 파일/"
../../Documents/
../../Downloads/
../../KakaoTalk_Photo_2024-04-20-16-14-36.jpeg
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
../../ServerDev/
../../bad-word-detection/
../../c++/
../../dump.rdb
../../epoll_server.c
../../homework.tar
../../node-admin-app/
../../proj/
../../task/

